<p id="notice"><%= notice %></p>

<p>
  <b>Q1:</b>
  <%= @evaluation.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @evaluation.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @evaluation.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @evaluation.q4 %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', course_path(@evaluation.course_id) %>
