<p id="notice"><%= notice %></p>

<p>
  <b>Department Name:</b>
  <%= @department.name %>
</p>

<b>Professors</b>
<div id="professors">
    <%= render :partial =>@department.professors%>
</div>

<% if admin_signed_in? %>
  <%= form_for Professor.new do |f| %>
      <p>
      <%= f.label :name, "New Professor" %><br />
      <%= f.text_field :name %>
      </p>
      <%= f.hidden_field :department_id, value: @department.id %>
      <p><%= f.submit "Add Professor" %></p>
  <% end %>
<% end %>




<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
