<p id="notice"><%= notice %></p>

<p>
  <b>Department Name:</b>
  <%= @department.name %>
</p>

<b>Professors</b>
<div id="professors">
    <%= render :partial =>@department.professors%>
</div>

<%= form_for [@department, Professor.new], do |f| %>
    <p>
    <%= f.label :name, "New Professor" %><br />
    <%= f.text_field :name %>
    </p>
    <p><%= f.submit "Add Professor" %></p>
<% end %>




<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
