<%@letter=params[:letter]%>
<%@search=params[:search]%>
<%@department_param=params[:department_id]%>


<%if !params[:department_id]%>
	<table class="table_dept">
	   <tr>
		<td class="title">Professors</td>
	   </tr>
	   <%@flag=0;%>

		<% @professors.each do |professor| %>

	  	    <%if (params[:search]||params[:letter]||params[:department_id])&&@letter!="All" %>
			<%if params[:search]%>
				<%@search_words=@search.split(" ")%>
			    	<%if @search_words[1]%>
					<%next if (!professor.name.downcase.index(@search_words[0].downcase)||!professor.name.downcase.index(@search_words[1].downcase))%>
				<%else%>
					<%next if (!professor.name.downcase.index(@search.downcase))%>
				<%end%>


			<%elsif params[:letter]%>
				<%next if professor.name[0].upcase!=@letter%>
			<%elsif params[:department_id]%>
				<%next if professor.department!=@department_param%>
			<%end%>
	  	    <%end%>


	   <tr class="<%=cycle('list_line_odd','list_line_even')%>">
	     <td class="list_name">

			<%@flag=1%>

			    <%= link_to professor.name, professor %></td>

		    	<% if admin_signed_in? %>
			    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>

			<%end%>
	   </tr>

	     	<% end %>


	</table>


	<table class="table_dept">
	<%if @flag==0%>
	  <tr class="<%=cycle('list_line_odd','list_line_even')%>">
	    <td class="list_name">

		No professors meet the criteria</td>


	</tr>
	<%end%>
	</table>
	<br />
	<% if admin_signed_in? %>
		<%= link_to 'New Professor', new_department_professor_path(@department) %>
	<%end%>

<%else%>

	<%@letter=params[:letter]%>

	<table class="table_dept">
	   <tr>
		<td class="title">Professors</td>
	   <%@flag=0;%>
	   </tr>
		<% @department.professors.each do |professor| %>
	  	    <%if (params[:search]||params[:letter])&&@letter!="All"%>

			<%next if professor.name[0].upcase!=@letter%>

	  	    <%end%>
	   <tr class="<%=cycle('list_line_odd','list_line_even')%>">
	     <td class="list_name">

			<%@flag=1%>
		    <%= link_to professor.name, department_professor_path(@department,professor) %></td>
		<%end%>
	</table>

	<table class="table_dept">
	<%if @flag==0%>
	  <tr class="<%=cycle('list_line_odd','list_line_even')%>">
	    <td class="list_name">

		No professors meet the criteria</td>


	</tr>
	<%end%>
	</table>

	<% if admin_signed_in? %>
	  <%= form_for [@department, Professor.new] do |f| %>
	      <p>
	      <%= f.label :name, "New Professor" %><br />
	      <%= f.text_field :name %>
	      </p>	
	      <p><%= f.submit "Add Professor" %></p>
	  <% end %>

	  <td><%= link_to 'Edit', edit_department_path(@department) %></td> |
	<% end %>
	<%= link_to 'Back', departments_path %>

<%end%>
