<table class="prof_name_department">
  <tr>
	<td style="opacity:.8;background-color:#ffffff;"><h2 style='font-size:20pt;margin-left:30px;float:left;margin-top:0px;color:black; opacity:1;'><b>Name:</b> <%= @professor.name %></h2></td>
  </tr>
  <tr>	
	<td style="opacity:1;background-color:#fe4d4d;"><h2 style='font-size:14pt;margin-left:30px;float:left;margin-top:0px;color:black; opacity:.8;'><b>Department:</b> <%= @professor.department.name %></h2></td>
  </tr>
</table>

<p id="notice"><%= notice %></p>

<table class="table_courses">
  <tr><td style="color:black;font-size:13.5pt;padding-right:30px;padding-left:30px;padding-bottom:10px;padding-top:10px; "><b>Courses</b></td></tr>
  <tr><td style="font-size:13.5pt;padding-right:30px;padding-left:30px;">

<!--dual selection box for term/year when showing professor courses-->
<!--
<script type="text/javaScript">
	var d=new Date();
	var month=d.getMonth();
	var year=d.getFullYear();
	var my_year=new Array();
	var i=0;


    document.write("<select style='width:135px;' class='term' name='term'  id='term' >");
    if(month<=11&&month>=5){document.write("<option selected='selected'>Fall</option><option>Spring</option>");}
    else{document.write("<option selected='selected'>Spring</option><option>Fall</option>");}
    document.write("</select></td>")
    
    document.write("<td style='font-size:13.5pt;padding-right:30px;padding-left:30px;allign:right;'><select style='width:135px;' class='year' name='year'  id='year'>");

    for(var iter=<%=@professor.courses.minimum(:year)%>;iter<=<%=@professor.courses.maximum(:year)%>;iter++)
    {
	
      document.write("<option>"+iter+"</option>");
    }
    document.write("<option selected='selected'>All</option>");
    document.write("</select></td></tr>");
</script>
-->
</table>


<table class="table_course_listing">
<tr><td class="table_course_cells"><b>Code</b></td><td class="table_course_cells"><b>Name</b></td><td class="table_course_cells"><b>Year</b></td><td class="table_course_cells"><b>Term</b></td></tr>
<tr>
<div id = "courses">

<script type="text/javaScript">

    <%= render :partial => @professor.courses %>

</script>
</div></tr>
</table>



<% if admin_signed_in? or @pageid == @userid %>
  <b>Add Courses for this professor: </b>
  <%= form_for [@professor, Course.new] do |f| %>
    <div class="field">
      <%= f.label :code,  "Course Code"%><br />
      <%= f.text_field :code %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description , :rows =>6%>
    </div>
    <div class="field">
      <%= f.label :semester %><br />
      <%= f.text_field :semester %>
    </div>
    <div class="field">
      <%= f.label :year %><br />
      <%= f.number_field :year %>
    </div>
      <p><%= f.submit "Add Course" %></p>
  <%end%>

  <%= link_to 'Edit', edit_professor_path(@professor) %> |
<%end%>
<br \>
<% if admin_signed_in? %>
  <%= link_to 'Create account for this professor',
        new_instructor_registration_path(professor_id: @professor) %> |
<% end %>
<br \>
<%= link_to 'Back', department_path(@professor.department_id)%>
<br \>
<br \>
