<% if notice %>
  <div id="notice"><%= notice %></div><br/>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Course information</h1>
<br/>
<p>
  <b>Code:</b>
  <%= @course.code %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Semester:</b>
  <%= @course.semester %>
</p>

<p>
  <b>Year:</b>
  <%= @course.year %>
</p>

<b><%= link_to "view Detail",course_evaluations_path(@course.id) %></b><br/>

<b>Evaluations</b>
<div id = "evaluations">
    <%= render :partial => @course.evaluations %>
</div>

<p><%= link_to 'New Evaluation', new_evaluation_path(:course_id => @course.id) %></p>

<% if admin_signed_in? or instructor_signed_in? %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', professor_path(@course.professor_id)%>
