<%= div_for professor_eval do %>
    <p>
    <%=link_to h(professor_eval.id), professor_eval(professor_eval.id) %>
    Q1:<%= h(professor_eval.q1) %>
    Q2:<%= h(professor_eval.q2) %>
    Q3:<%= h(professor_eval.q3) %>
    Q4:<%= h(professor_eval.q4) %>
    Q5:<%= h(professor_eval.q5) %>
    Q6:<%= h(professor_eval.q6) %>
    Q7:<%= h(professor_eval.q7) %>
    Q8:<%= h(professor_eval.q8) %>
    Q9:<%= h(professor_eval.q9) %>
    Q10:<%= h(professor_eval.q10) %>
    </p>
<% end %>
:
